.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    width: 100%;
    height: 1000px;
}


.title-text {
    font-family: 'Julius Sans One';
    /* font-family: 'Quicksand'; */
    /* font-family: 'Saira'; */
    font-size: 70px;
    letter-spacing: 20px;
    color: white;

}